<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:be.pageRenderer
    includeJavaScriptModules="{
        0: '@typo3/backend/context-menu.js',
        1: '@typo3/backend/tooltip.js'
    }"
    includeCssFiles="{0: 'EXT:lfeditor_impexp/Resources/Public/StyleSheets/backend.css'}"
/>

<div class="module tx-lfeditor-impexp">
    <div class="module-loading-indicator"></div>
    <div class="module-docheader t3js-module-docheader"></div>
    <div id="typo3-docbody" class="module-body">
        <div id="typo3-inner-docbody">
            <f:flashMessages />
            <f:render section="main" />
        </div>
    </div>
</div>

</html>
